.users {
    padding: 20px
}

.block {
    margin-top: 20px;
}

.block2{
     margin-left: 100px;
     margin-top: 10px;
     background: rgb(0,29,36);
     background: linear-gradient(90deg, rgba(0,29,36,1) 0%, rgba(64,121,9,1) 0%, rgba(0,212,255,1) 100%);
 }

.images-row{
    width: 25%;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    align-items: center;
}

.block3{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(0,29,36,1) 0%, rgb(52, 121, 91) 0%, rgb(255, 67, 68) 100%);
}
.md-list {
    width: 320px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}
li{
    list-style-type: none;
}
.title{
    color: black;
}
